html{
    background-color: white;
}
.nav-link {
    color: #d44c9c;
}

p{
    font-size: 2.5vh;
}
#image-block{
    display: flex;               
    justify-content: center;     
    align-items: center;  
}
#image-block img{
    width: 40vh;
    height: 38vh;
    margin: 0 1.5vh;
}
a{
    font-family: "Raleway", serif;
}
nav{
    margin-bottom: 2vh;
}
header p{
    text-align: left;
    font-family: "Raleway", serif;
    margin-right: 20vh;
}
#about-me{
    margin-top: 3vh;
    margin-bottom: 2vh;
}
#about-me p{
    text-align: left;
    font-family: "Raleway", serif;
    margin-left: 6vh;
    margin-right: 20vh;
}
h3{
    margin-top: 4.2vh;
    text-align: left;
    font-family: "Raleway", serif;
    margin-left: 6vh;
}

#skills-title{
    margin-bottom: 4vh;
}
#about-me h3{
    text-align: left;
    font-family: "Raleway", serif;
    margin-left: 6vh;
}
header{
    margin-top: 4vh;
    margin-left: 6vh;
}

@keyframes textCursor{
    0%{
      color:black;
      width: 0%;
    }
    100%{
      width: 49%;
      color: black;
      border-right: 0px solid white;
    }
}

.text_animationDisplay{
    color :black;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 12.5vh;
    border-right: 3px solid black;
    animation: textCursor 2.3s steps(30) forwards;
    margin-bottom: 1.5vh;
  }

#download-button{
font-family: "Raleway", serif;
font-size: 1.2vw;
border-style:solid;
border-width: 0.1vw;
border-radius: 5vw;
padding-top: 1vw;
height: 4vw;
padding-bottom: 1vw;
padding-left: 2vw;
padding-right: 2vw;
margin-top: 4.2vh;
margin-bottom: 3vh;
margin-left: 42vw;
color: #d44c9c;
}

#download-button:hover{
color: white;
background-color: #d44c9c;
}

#skills > div p {
display: inline;
font-family: "Raleway", serif;
font-size: 1vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
padding-left: 0.5vw;
padding-right: 0.5vw;
border-style:solid;
border-width: 0.1vw;
border-radius: 5vw;
border-color: #f599b8;
color: black;
}

#skills > div{
margin-right: 2vh;
margin-left: 2vh;
margin-bottom: 2vh;
}

#skills {
display: flex; 
flex-wrap: wrap; 
gap: 1.1vh; 
justify-content: center; 
margin-right: 20vh;
margin-left: 8vh;
}


/* Fullscreen Loading Screen */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Light gray background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays above all other content */
  }
  
/* Spinner Animation */
.spinner img {
width: 6vh;
animation: spin 2s linear infinite;
}

/* Keyframes for Spinner */
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}  

/* Loading Text */
#loading-screen p {
font-family: "Raleway", serif;;
color: black;
font-size: 1.2em;
margin-top: 15px;
}

/* Progress Bar Container */
.progress-bar {
width: 15%; /* Adjust width of the progress bar */
height: 1vw; /* Adjust height of the progress bar */
background-color: #e0e0e0 !important; /* Light gray background for the bar */
border-radius: 0.5vw;
margin-top: 1vw; /* Space between the spinner and the progress bar */
overflow: hidden; /* Ensure no overflow from the progress bar's child */
position: relative;
}

/* Progress Animation */
.progress-bar .progress {
width: 0%; /* Initial width of the progress bar */
height: 100%;
background-color: #f599b8 !important; /* Progress bar color */
border-radius: inherit;
animation: progress-animation 2s linear infinite; /* Smooth animation */
}

progress{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Keyframes for Progress Animation */
@keyframes progress-animation {
0% {
    width: 0%;
}
100% {
    width: 100%;
}
}
