h1{
    text-align: left;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 12vh;
    margin-bottom: 1.5vh;
}
#image-block{
    display: flex;               
    justify-content: center;     
    align-items: center;  
}
#image-block img{
    width: 35vh;
    margin: 0 1.5vh;
}
a{
    font-family: "Raleway", serif;
}
nav{
    margin-bottom: 2vh;
}
header p{
    text-align: left;
    font-family: "Raleway", serif;
    margin-right: 20vh;
}
#about-me p{
    text-align: left;
    font-family: "Raleway", serif;
    margin-left: 4vh;
    margin-right: 20vh;
}
#about-me h4{
    text-align: left;
    font-family: "Raleway", serif;
    margin-left: 4vh;
}
header{
    margin-top: 4.2vh;
    margin-left: 4vh;
}